
<!-- just card shite -->
<div class="profile-card" id="profile1">
        <img src="https://w.namu.la/s/59bbf73b123d0f9f693be3c3de9506b24a1f2a3067b4ffd0207a3a08eee32d750ebf1ca3e33084aa3bbcd6916bd0a8a187cc4556b87fa269c25f1a7ff3ea279f1e372d23aa0a6eee8d5932c70d5dac0e484717f36b344bc0f36df96e7dd97d974dd2f4d51b64ea2324697118cec88c73"
             alt="김태웅" style="width:65%">
        <h1>김태웅</h1>
        <p class="profile-title">Crew</p>
        <p>Team 5</p>
        <a href="#"><i class="fa fa-dribbble"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a>
        <p>
            <button>Contact</button>
        </p>
    </div>
    <div class="profile-card" id="profile2">
        <img src="https://w.namu.la/s/59bbf73b123d0f9f693be3c3de9506b24a1f2a3067b4ffd0207a3a08eee32d750ebf1ca3e33084aa3bbcd6916bd0a8a187cc4556b87fa269c25f1a7ff3ea279f1e372d23aa0a6eee8d5932c70d5dac0e484717f36b344bc0f36df96e7dd97d974dd2f4d51b64ea2324697118cec88c73"
             alt="김송미" style="width:65%">
        <h1>김송미</h1>
        <p class="profile-title">Crew</p>
        <p>Team 5</p>
        <a href="#"><i class="fa fa-dribbble"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a>
        <p>
            <button>Contact</button>
        </p>
    </div>
    <div class="profile-card" id="profile3">
        <img src="https://w.namu.la/s/59bbf73b123d0f9f693be3c3de9506b24a1f2a3067b4ffd0207a3a08eee32d750ebf1ca3e33084aa3bbcd6916bd0a8a187cc4556b87fa269c25f1a7ff3ea279f1e372d23aa0a6eee8d5932c70d5dac0e484717f36b344bc0f36df96e7dd97d974dd2f4d51b64ea2324697118cec88c73"
             alt="이솔" style="width:65%">
        <h1>이솔</h1>
        <p class="profile-title">Captain</p>
        <p>Team 5</p>
        <a href="#"><i class="fa fa-dribbble"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a>
        <p>
            <button>Contact</button>
        </p>
    </div>
    <div class="profile-card" id="profile4">
        <img src="https://w.namu.la/s/59bbf73b123d0f9f693be3c3de9506b24a1f2a3067b4ffd0207a3a08eee32d750ebf1ca3e33084aa3bbcd6916bd0a8a187cc4556b87fa269c25f1a7ff3ea279f1e372d23aa0a6eee8d5932c70d5dac0e484717f36b344bc0f36df96e7dd97d974dd2f4d51b64ea2324697118cec88c73"
             alt="박찬환" style="width:65%">
        <h1>박찬환</h1>
        <p class="profile-title">Crew</p>
        <p>Team 5</p>
        <a href="#"><i class="fa fa-dribbble"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a>
        <p>
            <button>Contact</button>
        </p>
    </div>
    <div class="profile-card" id="profile5">
        <img src="https://w.namu.la/s/59bbf73b123d0f9f693be3c3de9506b24a1f2a3067b4ffd0207a3a08eee32d750ebf1ca3e33084aa3bbcd6916bd0a8a187cc4556b87fa269c25f1a7ff3ea279f1e372d23aa0a6eee8d5932c70d5dac0e484717f36b344bc0f36df96e7dd97d974dd2f4d51b64ea2324697118cec88c73"
             alt="홍승엽" style="width:65%">
        <h1>홍승엽</h1>
        <p class="profile-title">Crew</p>
        <p>Team 5</p>
        <a href="#"><i class="fa fa-dribbble"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a>
        <p>
            <button>Contact</button>
        </p>
    </div>
<!-- just card shite -->