* {
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', cursive;
}
body {
    background-image: linear-gradient(rgba(0.1, 1, 1, 0.2), rgba(0.1, 1, 0, 0.1));
}
.header {
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    padding-top: 18%;
    padding-bottom: 35%;
}

.part1 {
    min-height: 32vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

.part2 {
    min-height: 68vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    top: 30%;
}

.part3 {
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    top: 30%;
}

.card-container {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: auto;
    padding-bottom: 20px;
    border: 2px;
}
.card-1 {
    display: flex;
    border: 2px;
}
.card-image-1 {
    width: 30%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: black;
}
.card-image-1 img {
    width: 70%;
    min-height: 70%;
}
.card-text-1 {
    width: 70%;
    padding: 10px;
    font-family: 'Roboto Condensed', sans-serif;
}


nav{

}

nav img{
    width: 150px;
    height: 150px;
    padding-top: 20px;
}

.maintitle {
    flex: 1;
    text-align: center;
    padding-top: 50px;
}

.maintitle a{
    color: rgb(10, 6, 6);
    text-decoration: none;
    font-size: 90px;
}
/* this is underline effect when the cursor hovers over the title */
.maintitle::after{
    content: '';
    width: 0%;
    height: 6px;
    background: #090707;
    display: block;
    margin: auto;
    transition: 1.2s;
}

.maintitle:hover::after{
    width: 42%;
}
/* up to here (hover effect) */

.button-down-1 {
    display: none;
}

.button-down-1:hover + .button-down-1{
    display: inline-block;
}

/* member profile cards */

.profile-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.profile-title {
  color: grey;
  font-size: 18px;
}

profile-button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

profile a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}

/* end of member profile card */

.comment-box {
    width: 90%;
    color: black;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}