<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Non-Fungible Team</title>
</head>
<link rel="stylesheet" href="style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
<body>
<section class="header">
    <div class="card-container">
        <div class="card-1"> <!-- Card 1 -->
            <div class="card-image-1">
                <img src="https://cdn-icons-png.flaticon.com/512/6699/6699362.png" alt="image" />
            </div>
            <div class="card-text-1">
                <p style="font-size: 26px; line-height: 1.4em"><b>NFT(Non-Fungible Team : 대체 불가능한 존재가 돼라!)<br>
                    저희는 대체 불가능한 토큰 NFT(Non-Fungible Token)와 같이 대체 불가능한 개발자를 목표로 하는 팀 입니다!</b></p>
                <br>
                <p style="line-height: 1.5em; font-size: 18px">저희팀은 모두 외교형(NF)으로 구성되어 있습니다. 대체불가한 팀장은 재기발랄 활동가, 대체불가한 팀원 2명은 열정적인 중재자, 그리고 대체불가한 팀원 1명은 정의로운 사회운동가까지.
                    어느 곳에서도 스며들고 녹아들어 함께 하는 협업을 위한 완벽한 시너지를 만듭니다. 개발자 붐이 일어난 지 수년 째 입니다. 여러 교육 기관을 통해 수요가 충족 되고 있지만 역량 있는
                    개발자에 대한 수요는 턱 없이 부족한 상황에 대체 가능한 역량의 개발자가 아닌, 대체 불가능한 역량의 개발자가 되기 위해 모인 저희 팀이 뭉쳐 해내보려고 합니다! 재기발랄하고 열정적인
                    사회운동가를 소개합니다.</p>
            </div>
        </div> <!-- End of Card 1 -->

    </div>

</section>


</body>
</html>

<!-- NFT 로고 <a href="index.html"><img src="https://cdn-icons-png.flaticon.com/512/6699/6699362.png" width="100" height="100"></a> -->